body {
  font-family: 'Segoe UI', sans-serif;
  background: #aef7de;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  height: 100vh;
}

.container {
  background: #2a2929;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h1 {
  text-align: center;
  color: #fcfbfb;
}

.input-section {
  display: flex;
  margin-bottom: 20px;
}

#taskInput {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9f9f9;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li .actions {
  display: flex;
  gap: 5px;
}

li button {
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete-btn {
  background: #0b0b0b;
  color: rgb(240, 235, 235);
}

.complete-btn:hover {
  background: #0f0f0f;
}

.delete-btn {
  background: #0a0a0a;
  color: white;
}

.delete-btn:hover {
  background: #161515;
}
